.horizontal-card-container{
    height: 8rem;
    margin: 0.5rem 0;
}

.horizontal-card-container .card-image {
    width: 15rem;
    height: 100%;
}

.card-details{
   padding: 1rem;
}

.link{
    width: fit-content;
}