.history-video-container{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(35rem,1fr));
    gap: 0.5rem;
    justify-items: center;
}

.clear-all-btn{
    width: fit-content;
    margin-right: 2rem;
    margin-left: auto;
}