.history-video-container{
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(35rem,1fr));
    gap: 1.5rem;
    justify-items: center;
}

.history-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.clear-all-btn{
    width: fit-content;
}

@media screen and (max-width: 768px){
    .history-video-container{
        padding: 0 2rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .horizontal-card-container {
        height: 6.5rem;
        margin: 0.5rem 0;
    }
    
}