.playlist-video-container{
    grid-area: video;
    display: flex;
    flex-direction: column;
    height:inherit;
    padding: 0.5rem;
    min-width: 30rem;
}

@media screen and (max-width:768px){
    .playlist-video-container{
        height: 25rem;
        min-width: 100%;
    }
}