.main-display{
    display: grid;
    grid-template-columns: 7.25rem 1fr;
    grid-template-areas: "sidebar main";
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

@media screen and (max-width: 768px){
    .main-display{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-areas: "main";
    }
}